<div class = "wrapper">
  <% if flash[:error] %>
    <p><%= flash[:error] %></p>
  <% end %>
  <div class = "winning">
    <h1><%= winning?(@user1, @user2)%></h1>
    <h1>TURN <%= @counter %></h1>
    <h1><%= @user1.name %> Versus <%= @user2.name %></h1>
    <h1><%= @player.name %>'s Turn </h1>
    <%= render partial: 'shared/grid' %>
  </div>
</div>