<div class = "container">
<% session_id = @session[:id] %>

  <%= render 'shared/box', box_index: 1, session_id: session_id %>
  <%= render 'shared/box', box_index: 2, session_id: session_id %>
  <%= render 'shared/box', box_index: 3, session_id: session_id %>
  <%= render 'shared/box', box_index: 4, session_id: session_id %>
  <%= render 'shared/box', box_index: 5, session_id: session_id %>
  <%= render 'shared/box', box_index: 6, session_id: session_id %>
  <%= render 'shared/box', box_index: 7, session_id: session_id %>
  <%= render 'shared/box', box_index: 8, session_id: session_id %>
  <%= render 'shared/box', box_index: 9, session_id: session_id %>

</div>